## Wrangle Micro Data Notebook

In [1]:
import time
import requests
import pandas as pd
from datetime import datetime

import wrangle_rapid as w
import wrangle_hud_micro as whm
from env import rm_api, hud_token
import warnings
warnings.filterwarnings('ignore')

In [2]:
corey_zipcodes = ['78258', '78259', '78260', '78261', '78263', '78264', '78265',
       '78266', '78268', '78269', '78270', '78278', '78279', '78280',
       '78283', '78285', '78288', '78291', '78292', '78293', '78294',
       '78295', '78296', '78297', '78298', '78299', '78606', '78623',
       '78638', '78648', '78655', '78666', '78670', '78676', '78883',
       '78884', '78885', '78117', '78850']

In [3]:
# w.get_rapid_api(corey_zipcodes, rm_api, 'baughman_rapid_api.csv')

In [4]:
df_rapid = w.rapid_api_mvp_prep('baughman_rapid_api.csv')

In [5]:
df_rapid

            bedrooms  averageRent  minRent  maxRent  totalRentals zipcode
date
2020-04-01         2      1648.78     1303     2495             9   78261
2020-04-01         2      1456.67     1395     1525             3   78260
2020-04-01         2      1350.00     1350     1350             1   78670
2020-04-01         2      1438.00     1150     2100            15   78676
2020-04-01         2      1416.18      997     2300            11   78259
...              ...          ...      ...      ...           ...     ...
2023-06-01         2      1350.00     1350     1350             1   78638
2023-06-01         2      1391.00     1135     1550             3   78258
2023-06-01         2      1790.00     1582     2300             4   78261
2023-06-01         2      1312.00      875     1750             2   78648
2023-06-01         2      1298.00     1250     1345             2   78606

[422 rows x 6 columns]

In [6]:
df_hud = whm.get_hud_micro_data()

In [7]:
whm.get_hud_micro_data()

         zip_code  two_bed_fmr
date
2017-10     78002        880.0
2017-11     78002        880.0
2017-12     78002        880.0
2018-01     78002        880.0
2018-02     78002        880.0
...           ...          ...
2023-06     78285       1270.0
2023-07     78285       1270.0
2023-08     78285       1270.0
2023-09     78285       1270.0
2023-10     78285          NaN

[9990 rows x 2 columns]

In [8]:
# df = whm.get_entity_data('METRO41700M41700')

In [9]:
# whm.get_year_list()

In [10]:
df_hud

        zip_code  two_bed_fmr
date
2017-10    78002        880.0
2017-11    78002        880.0
2017-12    78002        880.0
2018-01    78002        880.0
2018-02    78002        880.0
...          ...          ...
2023-06    78285       1270.0
2023-07    78285       1270.0
2023-08    78285       1270.0
2023-09    78285       1270.0
2023-10    78285          NaN

[9990 rows x 2 columns]

In [11]:
df_hud.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9990 entries, 2017-10 to 2023-10
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   zip_code     9990 non-null   object
 1   two_bed_fmr  9852 non-null   float64
dtypes: float64(1), object(1)
memory usage: 234.1+ KB

In [12]:
df_hud.index.value_counts()

2020-10    138
2020-11    138
2022-03    138
2022-02    138
2022-01    138
          ...
2018-06    135
2018-07    135
2018-08    135
2018-09    135
2017-10    135
Name: date, Length: 73, dtype: int64

In [22]:
df_hud[df_hud.zip_code == '78285']

        zip_code  two_bed_fmr
date
2020-10    78285       1110.0
2020-11    78285       1110.0
2020-12    78285       1110.0
2021-01    78285       1110.0
2021-02    78285       1110.0
2021-03    78285       1110.0
2021-04    78285       1110.0
2021-05    78285       1110.0
2021-06    78285       1110.0
2021-07    78285       1110.0
2021-08    78285       1110.0
2021-09    78285       1110.0
2021-10    78285       1160.0
2021-11    78285       1160.0
2021-12    78285       1160.0
2022-01    78285       1160.0
2022-02    78285       1160.0
2022-03    78285       1160.0
2022-04    78285       1160.0
2022-05    78285       1160.0
2022-06    78285       1160.0
2022-07    78285       1160.0
2022-08    78285       1160.0
2022-09    78285       1160.0
2022-10    78285       1270.0
2022-11    78285       1270.0
2022-12    78285       1270.0
2023-01    78285       1270.0
2023-02    78285       1270.0
2023-03    78285       1270.0
2023-04    78285       1270.0
2023-05    78285       1270.0
2023-06    78285       1270.0
2023-07    78285       1270.0
2023-08    78285       1270.0
2023-09    78285       1270.0
2023-10    78285          NaN

In [14]:
df_hud.head()

        zip_code  two_bed_fmr
date
2017-10    78002        880.0
2017-11    78002        880.0
2017-12    78002        880.0
2018-01    78002        880.0
2018-02    78002        880.0

In [15]:
df_hud.tail()

        zip_code  two_bed_fmr
date
2023-06    78285       1270.0
2023-07    78285       1270.0
2023-08    78285       1270.0
2023-09    78285       1270.0
2023-10    78285          NaN

In [16]:
# # ok, I need to clean this up. keep just the Two-Bedroom col as two_bed_fmr
# # and year, entity_id, and area_name
# df_hud = df_hud.rename(columns={'Two-Bedroom' : 'two_bed_fmr'})
# df_hud = df_hud[['zip_code', 'two_bed_fmr', 'year', 'entity_id', 'area_name']]
# df_hud['date'] = pd.to_datetime(df_hud.year)
# df_hud.set_index('date', inplace=True)
# # shift the fmr rates backwards by three months to reflect federal fiscal year
# df_hud = df_hud.resample('M').ffill().shift(periods=-3, freq='M')