In [1]:
import re
import requests
import pandas as pd
from env import hud_token

In [2]:
# getting root url
url = 'https://www.huduser.gov/hudapi/public/fmr/listMetroAreas'

header = {'Authorization': f'Bearer {hud_token}'}

response = requests.get(url, headers=header)

data = response.json()

In [3]:
df = pd.DataFrame(data)

In [4]:
df[df['area_name'].str.startswith('San Antonio') == True]

,cbsa_code,area_name,category
488,METRO41700M41700,"San Antonio-New Braunfels, TX HUD Metro FMR Area",MetroArea

In [5]:
# getting entity_id
entity_id = 'METRO41700M41700'

In [6]:
url = f'https://www.huduser.gov/hudapi/public/fmr/data/{entity_id}'
response = requests.get(url, headers=header)
data = response.json()

In [7]:
data['data']['year']

'2023'

In [8]:
df = pd.DataFrame(data['data']['basicdata'])

In [9]:
# adding year
df['year'] = data['data']['year']

In [10]:
df

,zip_code,Efficiency,One-Bedroom,Two-Bedroom,Three-Bedroom,Four-Bedroom,year
0,78002,760,870,1060,1350,1640,2023
1,78003,790,910,1110,1410,1710,2023
2,78006,1030,1240,1530,1870,2340,2023
3,78009,840,890,1170,1530,1570,2023
4,78010,790,910,1100,1400,1710,2023
...,...,...,...,...,...,...,...
131,78670,910,1030,1220,1560,1850,2023
132,78676,1200,1330,1560,2000,2320,2023
133,78883,670,760,940,1200,1430,2023
134,78884,790,910,1100,1400,1710,2023
135,78885,790,910,1100,1400,1710,2023

In [11]:
years = ['2022', '2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010' ]

for year in years:
    url = f'https://www.huduser.gov/hudapi/public/fmr/data/{entity_id}?year={year}'
    response = requests.get(url, headers=header)
    print(year, response)

# no data available for the metro area

2022 <Response [200]>
2021 <Response [200]>
2020 <Response [200]>
2019 <Response [200]>
2018 <Response [200]>
2017 <Response [200]>
2016 <Response [400]>
2015 <Response [400]>
2014 <Response [400]>
2013 <Response [400]>
2012 <Response [400]>
2011 <Response [400]>
2010 <Response [400]>

#### Takeaways:
* The data is not avaiable until 2017

#### Actions:
* Make a for loop that creates a dummy df and adds the information from the newly acquired data to it 

#### Later inspection
* What is the reason for this? Was the zipcode data not available? Why is this the case? Will this impact our results?

In [12]:
years = ['2022', '2021', '2020', '2019', '2018']

for year in years:
    url = f'https://www.huduser.gov/hudapi/public/fmr/data/{entity_id}?year={year}'
    response = requests.get(url, headers=header)
    data = response.json()
    dum = pd.DataFrame(data['data']['basicdata'])
    dum['year'] = data['data']['year']
    df = pd.concat([df, dum])
    
df

,zip_code,Efficiency,One-Bedroom,Two-Bedroom,Three-Bedroom,Four-Bedroom,year
0,78002,760,870,1060,1350,1640,2023
1,78003,790,910,1110,1410,1710,2023
2,78006,1030,1240,1530,1870,2340,2023
3,78009,840,890,1170,1530,1570,2023
4,78010,790,910,1100,1400,1710,2023
...,...,...,...,...,...,...,...
130,78676,800,950,1160,1560,1880,2018
131,78850,560,690,870,1150,1380,2018
132,78883,610,760,950,1250,1520,2018
133,78884,560,690,870,1150,1380,2018
134,78885,610,750,940,1240,1500,2018

##### Takeaways:
* We wonly get data from 2018 and onward due to data challenges with zipcodes not being present
* Once again, this needs to investigated but in the future

In [13]:
# basic requirements
entity_id = 'METRO41700M41700'
header = {'Authorization': f'Bearer {hud_token}'}

# accessing api
url = f'https://www.huduser.gov/hudapi/public/fmr/data/{entity_id}'
response = requests.get(url, headers=header)
data = response.json()

# getting initial df
df = pd.DataFrame()

# establishing years to pull
years = ['2023', '2022', '2021', '2020', '2019', '2018']

# For loop to access data from each year and concat onto the initial df
for year in years:
    url = f'https://www.huduser.gov/hudapi/public/fmr/data/{entity_id}?year={year}'
    response = requests.get(url, headers=header)
    data = response.json()
    dum = pd.DataFrame(data['data']['basicdata'])
    dum['year'] = data['data']['year']
    df = pd.concat([df, dum])
    
df

,zip_code,Efficiency,One-Bedroom,Two-Bedroom,Three-Bedroom,Four-Bedroom,year
0,78002,760,870,1060,1350,1640,2023
1,78003,790,910,1110,1410,1710,2023
2,78006,1030,1240,1530,1870,2340,2023
3,78009,840,890,1170,1530,1570,2023
4,78010,790,910,1100,1400,1710,2023
...,...,...,...,...,...,...,...
130,78676,800,950,1160,1560,1880,2018
131,78850,560,690,870,1150,1380,2018
132,78883,610,760,950,1250,1520,2018
133,78884,560,690,870,1150,1380,2018
134,78885,610,750,940,1240,1500,2018

In [14]:
zip_codes = df['zip_code'].unique()

# Zillow API

In [15]:
# url = "https://zillow56.p.rapidapi.com/search"

# querystring = {"location":"78002"}

# headers = {
# 	"X-RapidAPI-Key": "114e895469msh94a2c2aa405c447p161c7ejsn7b09da3c1151",
# 	"X-RapidAPI-Host": "zillow56.p.rapidapi.com"
# }

In [16]:
# response = requests.get(url, headers=headers, params=querystring)
# data = response.json()

In [17]:
# data

In [18]:
# pd.DataFrame(data['results'])

In [19]:


# for zip_code in zip_codes:
#     querystring = {"location":f"{str(zip_code)}"}
#     response = requests.get(url, headers=headers, params=querystring)
#     data = response.json()
#     print(zip_code, data[totalPages])

In [20]:
# querystring = {"location":f"{}"}
# response = requests.get(url, headers=headers, params=querystring)
# data = response.json()

Split Zipcodes

In [21]:
corey = zip_codes[:49]
mack = zip_codes[49:99]
aaron = zip_codes[99:]

In [22]:
aaron

array(['78258', '78259', '78260', '78261', '78263', '78264', '78265',
       '78266', '78268', '78269', '78270', '78278', '78279', '78280',
       '78283', '78285', '78288', '78291', '78292', '78293', '78294',
       '78295', '78296', '78297', '78298', '78299', '78606', '78623',
       '78638', '78648', '78655', '78666', '78670', '78676', '78883',
       '78884', '78885', '78117', '78850'], dtype=object)

In [31]:
rapid_api_key = "114e895469msh94a2c2aa405c447p161c7ejsn7b09da3c1151"

headers = {
	"X-RapidAPI-Key": rapid_api_key,
	"X-RapidAPI-Host": "realty-mole-property-api.p.rapidapi.com"
}
zipcode = '78258'
url = f"https://realty-mole-property-api.p.rapidapi.com/zipCodes/{zipcode}"
response = requests.get(url, headers=headers)
data = response.json()

In [33]:
data2 = data

In [37]:
market_rent_dict = {}

In [38]:
market_rent_dict['78258'] = data2
market_rent_dict['78256'] = data2

          id zipCode                                         rentalData
78258  78258   78258  {'averageRent': 2761, 'minRent': 956, 'maxRent...
78256  78258   78258  {'averageRent': 2761, 'minRent': 956, 'maxRent...

dict_keys(['78258', '78256'])

In [45]:
market_rent_dict = {}

In [69]:
aaron_removed = list(aaron)
for key in market_rent_dict.keys():
    aaron_removed.remove(key)

In [63]:
# aaron_removed

In [96]:
# need to import sleep time
import time

In [97]:
time.sleep(2)

In [73]:
import time

for zipcode in aaron_removed:
    url = f"https://realty-mole-property-api.p.rapidapi.com/zipCodes/{zipcode}"
    response = requests.get(url, headers=headers)
    
    if (
    response.status_code != 204 and
    response.headers["content-type"].strip().startswith("application/json")
    ):
        try:
            
            data = response.json()
            
            market_rent_dict[zipcode] = data
        
        except ValueError as e:
            
            print('ValueError', e)
    time.sleep(2)

In [102]:
import time

def get_rapid_api(zipcode_list, rapid_api_key, filename):
    '''
    Arguments: 
        1. a list of zipcodes, with each zipcode in the list a string
        2. the rapid_api_key as a string that can be copied from the website after subscribing to the realty mole api using this website
            https://rapidapi.com/realtymole/api/realty-mole-property-api
        3. a string literal with .csv at the end for the filename of the saved df
    Actions: This fucntion pulls data from the REalty Mole rapid api and saves the messy data as a csv 
    Return: Messy market rent history data
    Modules:
    import time
    import requests
    import pandas
    '''
    # intialize dicitonary
    market_rent_dict = {}
    
    # the headers necessary for the data, the raopid api key entered in the 
    headers = {
        "X-RapidAPI-Key": rapid_api_key,
        "X-RapidAPI-Host": "realty-mole-property-api.p.rapidapi.com"
    }

    # For each zipcode in the list of sipcodes entered
    for zipcode in zipcode_list:
        
        # place the zipcode in the endpoint
        url = f"https://realty-mole-property-api.p.rapidapi.com/zipCodes/{zipcode}"
        
        # get the repsonse from the end point using the headers specififed
        response = requests.get(url, headers=headers)

        # if the reponse acts accordingly
        if (
        response.status_code != 204 and
        response.headers["content-type"].strip().startswith("application/json")
        ):
            try:

                # the repsonse is stored in data
                data = response.json()

                # tdata is stored in the dictionary with the zipcode as a key
                market_rent_dict[zipcode] = data

            except ValueError as e:

                print('ValueError', e)
        
        # the pull pauses for 2 seconds in orderreduce the load on the api and prevent error messages
        time.sleep(2)
    
    # the dictionary is turned into a df
    df = pd.DataFrame(market_rent_dict)
    
    # the df is saved as csv using the filename specified above
    df.to_csv(filename)
    
    # the function is exited and the df is returned
    return df

array(['78002', '78003', '78006', '78009', '78010', '78015', '78023',
       '78039', '78052', '78054', '78055', '78063', '78064', '78069',
       '78070', '78073', '78101', '78108', '78109', '78112', '78113',
       '78114', '78115', '78121', '78123', '78124', '78130', '78131',
       '78132', '78133', '78140', '78143', '78147', '78148', '78150',
       '78152', '78154', '78155', '78156', '78160', '78161', '78163',
       '78201', '78202', '78203', '78204', '78205', '78206', '78207'],
      dtype=object)

In [ ]:
df = get_rapid_api(corey, "10a41d4c5fmsh2586ce89e03226cp1230b4jsn7ec85dfc4b6f", 'corey.csv')

In [106]:
df.T

          id zipCode                                         rentalData
78002  78002   78002  {'averageRent': 900, 'minRent': 800, 'maxRent'...
78003  78003   78003  {'averageRent': 1387, 'minRent': 350, 'maxRent...
78006  78006   78006  {'averageRent': 1927, 'minRent': 844, 'maxRent...
78009  78009   78009  {'averageRent': 2531, 'minRent': 719, 'maxRent...
78010  78010   78010  {'averageRent': 1500, 'minRent': 800, 'maxRent...
78015  78015   78015  {'averageRent': 2778, 'minRent': 820, 'maxRent...
78023  78023   78023  {'averageRent': 2316, 'minRent': 1127, 'maxRen...
78039  78039   78039  {'averageRent': 1050, 'minRent': 1050, 'maxRen...
78052  78052   78052  {'averageRent': 2154, 'minRent': 885, 'maxRent...
78054  78054   78054  {'averageRent': 2000, 'minRent': 2000, 'maxRen...
78055  78055   78055  {'averageRent': 1457, 'minRent': 795, 'maxRent...
78063  78063   78063  {'averageRent': 1918, 'minRent': 800, 'maxRent...
78064  78064   78064  {'averageRent': 1261, 'minRent': 485, 'maxRent...
78069  78069   78069  {'averageRent': 1314, 'minRent': 584, 'maxRent...
78070  78070   78070  {'averageRent': 1917, 'minRent': 975, 'maxRent...
78073  78073   78073  {'averageRent': 1785, 'minRent': 1250, 'maxRen...
78101  78101   78101  {'averageRent': 1479, 'minRent': 800, 'maxRent...
78108  78108   78108  {'averageRent': 2103, 'minRent': 1265, 'maxRen...
78109  78109   78109  {'averageRent': 1805, 'minRent': 700, 'maxRent...
78112  78112   78112  {'averageRent': 1661, 'minRent': 1150, 'maxRen...
78113  78113   78113  {'averageRent': 1500, 'minRent': 1500, 'maxRen...
78114  78114   78114  {'averageRent': 1484, 'minRent': 525, 'maxRent...
78121  78121   78121  {'averageRent': 1789, 'minRent': 1100, 'maxRen...
78123  78123   78123  {'averageRent': 2093, 'minRent': 1150, 'maxRen...
78124  78124   78124  {'averageRent': 1602, 'minRent': 950, 'maxRent...
78130  78130   78130  {'averageRent': 1875, 'minRent': 700, 'maxRent...
78132  78132   78132  {'averageRent': 2362, 'minRent': 888, 'maxRent...
78133  78133   78133  {'averageRent': 1855, 'minRent': 770, 'maxRent...
78140  78140   78140  {'averageRent': 625, 'minRent': 625, 'maxRent'...
78147  78147   78147  {'averageRent': 1500, 'minRent': 1500, 'maxRen...
78148  78148   78148  {'averageRent': 1709, 'minRent': 887, 'maxRent...
78150  78150   78150  {'averageRent': 1617, 'minRent': 1617, 'maxRen...
78152  78152   78152  {'averageRent': 1809, 'minRent': 750, 'maxRent...
78154  78154   78154  {'averageRent': 1975, 'minRent': 750, 'maxRent...
78155  78155   78155  {'averageRent': 1743, 'minRent': 400, 'maxRent...
78160  78160   78160  {'averageRent': 1307, 'minRent': 1050, 'maxRen...
78161  78161   78161  {'averageRent': 950, 'minRent': 900, 'maxRent'...
78163  78163   78163  {'averageRent': 2353, 'minRent': 1400, 'maxRen...
78201  78201   78201  {'averageRent': 1411, 'minRent': 550, 'maxRent...
78202  78202   78202  {'averageRent': 1705, 'minRent': 650, 'maxRent...
78203  78203   78203  {'averageRent': 1651, 'minRent': 600, 'maxRent...
78204  78204   78204  {'averageRent': 1418, 'minRent': 750, 'maxRent...
78205  78205   78205  {'averageRent': 1383, 'minRent': 820, 'maxRent...
78207  78207   78207  {'averageRent': 1752, 'minRent': 599, 'maxRent...

In [99]:
df = pd.DataFrame(market_rent_dict)

In [100]:
df.to_csv('csv')

In [76]:
len(aaron)

39

In [75]:
len(market_rent_dict.keys())

26

In [79]:
aaron_df = pd.DataFrame(market_rent_dict).T

In [86]:
aaron_df['message'].value_counts()

You have exceeded the rate limit per second for your plan, BASIC, by the API provider    10
Name: message, dtype: int64

In [90]:
rental = aaron_df.loc[:,'rentalData']

In [93]:
rental.dropna(inplace = True)

In [95]:
rental.loc['78258']

{'averageRent': 2761,
 'minRent': 956,
 'maxRent': 8750,
 'totalRentals': 182,
 'detailed': [{'bedrooms': 1,
   'averageRent': 1366,
   'minRent': 956,
   'maxRent': 1920,
   'totalRentals': 13},
  {'bedrooms': 2,
   'averageRent': 1391,
   'minRent': 1135,
   'maxRent': 1550,
   'totalRentals': 3},
  {'bedrooms': 3,
   'averageRent': 2488,
   'minRent': 1707,
   'maxRent': 4750,
   'totalRentals': 63},
  {'bedrooms': 4,
   'averageRent': 2984,
   'minRent': 2000,
   'maxRent': 6000,
   'totalRentals': 83},
  {'bedrooms': 5,
   'averageRent': 3466,
   'minRent': 2850,
   'maxRent': 5000,
   'totalRentals': 18},
  {'bedrooms': 6,
   'averageRent': 6875,
   'minRent': 5000,
   'maxRent': 8750,
   'totalRentals': 2}],
 'history': {'2020-04': {'averageRent': 1788.12,
   'minRent': 775,
   'maxRent': 7500,
   'totalRentals': 258,
   'detailed': [{'bedrooms': 0,
     'averageRent': 937.28,
     'minRent': 780,
     'maxRent': 1260,
     'totalRentals': 25},
    {'bedrooms': 1,
     'averageRent': 995.93,
     'minRent': 775,
     'maxRent': 1400,
     'totalRentals': 28},
    {'bedrooms': 2,
     'averageRent': 1401.97,
     'minRent': 845,
     'maxRent': 2350,
     'totalRentals': 33},
    {'bedrooms': 3,
     'averageRent': 1933.75,
     'minRent': 1358,
     'maxRent': 3500,
     'totalRentals': 85},
    {'bedrooms': 4,
     'averageRent': 2480.24,
     'minRent': 1700,
     'maxRent': 6500,
     'totalRentals': 70},
    {'bedrooms': 5,
     'averageRent': 2979.53,
     'minRent': 2275,
     'maxRent': 7500,
     'totalRentals': 17}]},
  '2020-05': {'averageRent': 1791.53,
   'minRent': 775,
   'maxRent': 7500,
   'totalRentals': 257,
   'detailed': [{'bedrooms': 0,
     'averageRent': 973.12,
     'minRent': 780,
     'maxRent': 1800,
     'totalRentals': 25},
    {'bedrooms': 1,
     'averageRent': 986.25,
     'minRent': 775,
     'maxRent': 1400,
     'totalRentals': 28},
    {'bedrooms': 2,
     'averageRent': 1370.94,
     'minRent': 820,
     'maxRent': 2350,
     'totalRentals': 32},
    {'bedrooms': 3,
     'averageRent': 1946.81,
     'minRent': 1336,
     'maxRent': 3900,
     'totalRentals': 84},
    {'bedrooms': 4,
     'averageRent': 2467.41,
     'minRent': 1795,
     'maxRent': 6500,
     'totalRentals': 74},
    {'bedrooms': 5,
     'averageRent': 3004.64,
     'minRent': 2275,
     'maxRent': 7500,
     'totalRentals': 14}]},
  '2020-06': {'averageRent': 1883.06,
   'minRent': 780,
   'maxRent': 7500,
   'totalRentals': 271,
   'detailed': [{'bedrooms': 0,
     'averageRent': 980.08,
     'minRent': 780,
     'maxRent': 1800,
     'totalRentals': 26},
    {'bedrooms': 1,
     'averageRent': 987.85,
     'minRent': 790,
     'maxRent': 1178,
     'totalRentals': 27},
    {'bedrooms': 2,
     'averageRent': 1335.68,
     'minRent': 820,
     'maxRent': 1700,
     'totalRentals': 31},
    {'bedrooms': 3,
     'averageRent': 1928.7,
     'minRent': 1249,
     'maxRent': 3900,
     'totalRentals': 93},
    {'bedrooms': 4,
     'averageRent': 2521.76,
     'minRent': 1795,
     'maxRent': 6500,
     'totalRentals': 78},
    {'bedrooms': 5,
     'averageRent': 2977.33,
     'minRent': 2275,
     'maxRent': 7500,
     'totalRentals': 15},
    {'bedrooms': 6,
     'averageRent': 2450,
     'minRent': 2450,
     'maxRent': 2450,
     'totalRentals': 1}]},
  '2020-07': {'averageRent': 1848.45,
   'minRent': 780,
   'maxRent': 7500,
   'totalRentals': 285,
   'detailed': [{'bedrooms': 0,
     'averageRent': 982.12,
     'minRent': 780,
     'maxRent': 1800,
     'totalRentals': 26},
    {'bedrooms': 1,
     'averageRent': 982.96,
     'minRent': 790,
     'maxRent': 1277,
     'totalRentals': 27},
    {'bedrooms': 2,
     'averageRent': 1340.35,
     'minRent': 820,
     'maxRent': 1700,
     'totalRentals': 31},
    {'bedrooms': 3,
     'averageRent': 1910.7,
     'minRent': 1249,
     'maxRent': 3900,
     'totalRentals': 98},
    {'bedrooms': 4,
     'averageRent': 2543.02,
     'minRent': 1850,
     'maxRent': 6500,
     'totalRentals': 85},
    {'bedrooms': 5,
     'averageRent': 2930,
     'minRent': 2275,
     'maxRent': 7500,
     'totalRentals': 17},
    {'bedrooms': 6,
     'averageRent': 2250,
     'minRent': 2250,
     'maxRent': 2250,
     'totalRentals': 1}]},
  '2020-08': {'averageRent': 1856.59,
   'minRent': 759,
   'maxRent': 7500,
   'totalRentals': 284,
   'detailed': [{'bedrooms': 0,
     'averageRent': 987.68,
     'minRent': 759,
     'maxRent': 1800,
     'totalRentals': 25},
    {'bedrooms': 1,
     'averageRent': 984.29,
     'minRent': 775,
     'maxRent': 1269,
     'totalRentals': 28},
    {'bedrooms': 2,
     'averageRent': 1342.73,
     'minRent': 820,
     'maxRent': 1700,
     'totalRentals': 30},
    {'bedrooms': 3,
     'averageRent': 1922.04,
     'minRent': 1436,
     'maxRent': 3500,
     'totalRentals': 92},
    {'bedrooms': 4,
     'averageRent': 2567.47,
     'minRent': 1800,
     'maxRent': 6500,
     'totalRentals': 90},
    {'bedrooms': 5,
     'averageRent': 2941.94,
     'minRent': 2200,
     'maxRent': 7500,
     'totalRentals': 18},
    {'bedrooms': 6,
     'averageRent': 2250,
     'minRent': 2250,
     'maxRent': 2250,
     'totalRentals': 1}]},
  '2020-09': {'averageRent': 1822.69,
   'minRent': 790,
   'maxRent': 5500,
   'totalRentals': 273,
   'detailed': [{'bedrooms': 0,
     'averageRent': 1004.74,
     'minRent': 821,
     'maxRent': 1572,
     'totalRentals': 23},
    {'bedrooms': 1,
     'averageRent': 1009.94,
     'minRent': 790,
     'maxRent': 1630,
     'totalRentals': 34},
    {'bedrooms': 2,
     'averageRent': 1326.66,
     'minRent': 820,
     'maxRent': 1600,
     'totalRentals': 29},
    {'bedrooms': 3,
     'averageRent': 1927.01,
     'minRent': 1436,
     'maxRent': 3300,
     'totalRentals': 87},
    {'bedrooms': 4,
     'averageRent': 2560.8,
     'minRent': 1700,
     'maxRent': 5500,
     'totalRentals': 84},
    {'bedrooms': 5,
     'averageRent': 2679.67,
     'minRent': 2200,
     'maxRent': 3500,
     'totalRentals': 15},
    {'bedrooms': 6,
     'averageRent': 2250,
     'minRent': 2250,
     'maxRent': 2250,
     'totalRentals': 1}]},
  '2020-10': {'averageRent': 1837.86,
   'minRent': 792,
   'maxRent': 5500,
   'totalRentals': 253,
   'detailed': [{'bedrooms': 0,
     'averageRent': 1004.3,
     'minRent': 792,
     'maxRent': 1680,
     'totalRentals': 20},
    {'bedrooms': 1,
     'averageRent': 1005.03,
     'minRent': 809,
     'maxRent': 1775,
     'totalRentals': 37},
    {'bedrooms': 2,
     'averageRent': 1379.09,
     'minRent': 895,
     'maxRent': 1900,
     'totalRentals': 32},
    {'bedrooms': 3,
     'averageRent': 1928.65,
     'minRent': 1416,
     'maxRent': 3000,
     'totalRentals': 80},
    {'bedrooms': 4,
     'averageRent': 2548.74,
     'minRent': 1700,
     'maxRent': 5500,
     'totalRentals': 70},
    {'bedrooms': 5,
     'averageRent': 2749.23,
     'minRent': 1995,
     'maxRent': 4975,
     'totalRentals': 13},
    {'bedrooms': 6,
     'averageRent': 2250,
     'minRent': 2250,
     'maxRent': 2250,
     'totalRentals': 1}]},
  '2020-11': {'averageRent': 1836.76,
   'minRent': 785,
   'maxRent': 5500,
   'totalRentals': 227,
   'detailed': [{'bedrooms': 0,
     'averageRent': 1007.75,
     'minRent': 785,
     'maxRent': 1680,
     'totalRentals': 20},
    {'bedrooms': 1,
     'averageRent': 992.38,
     'minRent': 809,
     'maxRent': 1775,
     'totalRentals': 37},
    {'bedrooms': 2,
     'averageRent': 1370.53,
     'minRent': 895,
     'maxRent': 1900,
     'totalRentals': 32},
    {'bedrooms': 3,
     'averageRent': 1920.87,
     'minRent': 1345,
     'maxRent': 3000,
     'totalRentals': 70},
    {'bedrooms': 4,
     'averageRent': 2545.41,
     'minRent': 1700,
     'maxRent': 5500,
     'totalRentals': 54},
    {'bedrooms': 5,
     'averageRent': 2770.38,
     'minRent': 1995,
     'maxRent': 4975,
     'totalRentals': 13},
    {'bedrooms': 6,
     'averageRent': 2250,
     'minRent': 2250,
     'maxRent': 2250,
     'totalRentals': 1}]},
  '2020-12': {'averageRent': 1801.29,
   'minRent': 780,
   'maxRent': 6000,
   'totalRentals': 210,
   'detailed': [{'bedrooms': 0,
     'averageRent': 996.48,
     'minRent': 820,
     'maxRent': 1680,
     'totalRentals': 21},
    {'bedrooms': 1,
     'averageRent': 993.19,
     'minRent': 780,
     'maxRent': 1775,
     'totalRentals': 37},
    {'bedrooms': 2,
     'averageRent': 1378.97,
     'minRent': 905,
     'maxRent': 1800,
     'totalRentals': 32},
    {'bedrooms': 3,
     'averageRent': 1952.85,
     'minRent': 1321,
     'maxRent': 3000,
     'totalRentals': 60},
    {'bedrooms': 4,
     'averageRent': 2584.78,
     'minRent': 1700,
     'maxRent': 6000,
     'totalRentals': 50},
    {'bedrooms': 5,
     'averageRent': 2901.5,
     'minRent': 1995,
     'maxRent': 4975,
     'totalRentals': 10}]},
  '2021-01': {'averageRent': 1822.83,
   'minRent': 780,
   'maxRent': 6000,
   'totalRentals': 186,
   'detailed': [{'bedrooms': 0,
     'averageRent': 996.48,
     'minRent': 820,
     'maxRent': 1680,
     'totalRentals': 21},
    {'bedrooms': 1,
     'averageRent': 997.92,
     'minRent': 780,
     'maxRent': 1775,
     'totalRentals': 37},
    {'bedrooms': 2,
     'averageRent': 1378.75,
     'minRent': 905,
     'maxRent': 1800,
     'totalRentals': 32},
    {'bedrooms': 3,
     'averageRent': 1952.85,
     'minRent': 1321,
     'maxRent': 3000,
     'totalRentals': 46},
    {'bedrooms': 4,
     'averageRent': 2627.83,
     'minRent': 1700,
     'maxRent': 6000,
     'totalRentals': 42},
    {'bedrooms': 5,
     'averageRent': 2983.13,
     'minRent': 1995,
     'maxRent': 4975,
     'totalRentals': 8}]},
  '2021-02': {'averageRent': 2129.78,
   'minRent': 780,
   'maxRent': 6000,
   'totalRentals': 199,
   'detailed': [{'bedrooms': 0,
     'averageRent': 1002.32,
     'minRent': 814,
     'maxRent': 1750,
     'totalRentals': 19},
    {'bedrooms': 1,
     'averageRent': 1072.61,
     'minRent': 780,
     'maxRent': 1775,
     'totalRentals': 46},
    {'bedrooms': 2,
     'averageRent': 1406.95,
     'minRent': 870,
     'maxRent': 2250,
     'totalRentals': 42},
    {'bedrooms': 3,
     'averageRent': 1964.13,
     'minRent': 1387,
     'maxRent': 3000,
     'totalRentals': 40},
    {'bedrooms': 4,
     'averageRent': 2613.12,
     'minRent': 1700,
     'maxRent': 6000,
     'totalRentals': 43},
    {'bedrooms': 5,
     'averageRent': 3449.38,
     'minRent': 1995,
     'maxRent': 4975,
     'totalRentals': 8},
    {'bedrooms': 7,
     'averageRent': 3400,
     'minRent': 3400,
     'maxRent': 3400,
     'totalRentals': 1}]},
  '2021-03': {'averageRent': 2097.01,
   'minRent': 780,
   'maxRent': 6000,
   'totalRentals': 173,
   'detailed': [{'bedrooms': 0,
     'averageRent': 1002.32,
     'minRent': 814,
     'maxRent': 1750,
     'totalRentals': 19},
    {'bedrooms': 1,
     'averageRent': 1066.02,
     'minRent': 780,
     'maxRent': 1775,
     'totalRentals': 41},
    {'bedrooms': 2,
     'averageRent': 1404.8,
     'minRent': 870,
     'maxRent': 2200,
     'totalRentals': 41},
    {'bedrooms': 3,
     'averageRent': 1867.86,
     'minRent': 1387,
     'maxRent': 2600,
     'totalRentals': 28},
    {'bedrooms': 4,
     'averageRent': 2619.97,
     'minRent': 1900,
     'maxRent': 6000,
     'totalRentals': 35},
    {'bedrooms': 5,
     'averageRent': 3318.13,
     'minRent': 1995,
     'maxRent': 4975,
     'totalRentals': 8},
    {'bedrooms': 7,
     'averageRent': 3400,
     'minRent': 3400,
     'maxRent': 3400,
     'totalRentals': 1}]},
  '2021-04': {'averageRent': 2094.06,
   'minRent': 780,
   'maxRent': 4975,
   'totalRentals': 136,
   'detailed': [{'bedrooms': 0,
     'averageRent': 1002.32,
     'minRent': 814,
     'maxRent': 1750,
     'totalRentals': 19},
    {'bedrooms': 1,
     'averageRent': 1075.3,
     'minRent': 780,
     'maxRent': 1775,
     'totalRentals': 37},
    {'bedrooms': 2,
     'averageRent': 1384.83,
     'minRent': 870,
     'maxRent': 2200,
     'totalRentals': 35},
    {'bedrooms': 3,
     'averageRent': 1927.33,
     'minRent': 1387,
     'maxRent': 2600,
     'totalRentals': 21},
    {'bedrooms': 4,
     'averageRent': 2513.61,
     'minRent': 1995,
     'maxRent': 4200,
     'totalRentals': 18},
    {'bedrooms': 5,
     'averageRent': 3355,
     'minRent': 2400,
     'maxRent': 4975,
     'totalRentals': 5},
    {'bedrooms': 7,
     'averageRent': 3400,
     'minRent': 3400,
     'maxRent': 3400,
     'totalRentals': 1}]},
  '2021-05': {'averageRent': 2110.02,
   'minRent': 780,
   'maxRent': 5500,
   'totalRentals': 144,
   'detailed': [{'bedrooms': 0,
     'averageRent': 1012.84,
     'minRent': 814,
     'maxRent': 1750,
     'totalRentals': 19},
    {'bedrooms': 1,
     'averageRent': 1077.94,
     'minRent': 780,
     'maxRent': 1775,
     'totalRentals': 36},
    {'bedrooms': 2,
     'averageRent': 1387.71,
     'minRent': 870,
     'maxRent': 2200,
     'totalRentals': 34},
    {'bedrooms': 3,
     'averageRent': 1971.93,
     'minRent': 1387,
     'maxRent': 2650,
     'totalRentals': 28},
    {'bedrooms': 4,
     'averageRent': 2657.25,
     'minRent': 1995,
     'maxRent': 5500,
     'totalRentals': 20},
    {'bedrooms': 5,
     'averageRent': 3262.5,
     'minRent': 2400,
     'maxRent': 4975,
     'totalRentals': 6},
    {'bedrooms': 7,
     'averageRent': 3400,
     'minRent': 3400,
     'maxRent': 3400,
     'totalRentals': 1}]},
  '2021-06': {'averageRent': 2103.4,
   'minRent': 780,
   'maxRent': 5500,
   'totalRentals': 146,
   'detailed': [{'bedrooms': 0,
     'averageRent': 1012.84,
     'minRent': 814,
     'maxRent': 1750,
     'totalRentals': 19},
    {'bedrooms': 1,
     'averageRent': 1075.72,
     'minRent': 780,
     'maxRent': 1775,
     'totalRentals': 36},
    {'bedrooms': 2,
     'averageRent': 1387.71,
     'minRent': 870,
     'maxRent': 2200,
     'totalRentals': 34},
    {'bedrooms': 3,
     'averageRent': 1966,
     'minRent': 1387,
     'maxRent': 2650,
     'totalRentals': 29},
    {'bedrooms': 4,
     'averageRent': 2657.25,
     'minRent': 1995,
     'maxRent': 5500,
     'totalRentals': 20},
    {'bedrooms': 5,
     'averageRent': 3224.29,
     'minRent': 2400,
     'maxRent': 4975,
     'totalRentals': 7},
    {'bedrooms': 7,
     'averageRent': 3400,
     'minRent': 3400,
     'maxRent': 3400,
     'totalRentals': 1}]},
  '2021-11': {'averageRent': 3222.98,
   'minRent': 864,
   'maxRent': 349500,
   'totalRentals': 221,
   'detailed': [{'bedrooms': 0,
     'averageRent': 2113.16,
     'minRent': 864,
     'maxRent': 8750,
     'totalRentals': 19},
    {'bedrooms': 1,
     'averageRent': 1196.2,
     'minRent': 900,
     'maxRent': 1900,
     'totalRentals': 45},
    {'bedrooms': 2,
     'averageRent': 1502.18,
     'minRent': 930,
     'maxRent': 2000,
     'totalRentals': 50},
    {'bedrooms': 3,
     'averageRent': 7894.1,
     'minRent': 900,
     'maxRent': 349500,
     'totalRentals': 61},
    {'bedrooms': 4,
     'averageRent': 2808.65,
     'minRent': 1760,
     'maxRent': 5500,
     'totalRentals': 37},
    {'bedrooms': 5,
     'averageRent': 3569.57,
     'minRent': 2250,
     'maxRent': 5500,
     'totalRentals': 7},
    {'bedrooms': 6,
     'averageRent': 2950,
     'minRent': 2950,
     'maxRent': 2950,
     'totalRentals': 1},
    {'bedrooms': 7,
     'averageRent': 3750,
     'minRent': 3750,
     'maxRent': 3750,
     'totalRentals': 1}]},
  '2021-12': {'averageRent': 2549.4,
   'minRent': 834,
   'maxRent': 9550,
   'totalRentals': 235,
   'detailed': [{'bedrooms': 0,
     'averageRent': 2519.3,
     'minRent': 870,
     'maxRent': 9550,
     'totalRentals': 20},
    {'bedrooms': 1,
     'averageRent': 1196.47,
     'minRent': 900,
     'maxRent': 2000,
     'totalRentals': 45},
    {'bedrooms': 2,
     'averageRent': 1501.98,
     'minRent': 930,
     'maxRent': 2000,
     'totalRentals': 50},
    {'bedrooms': 3,
     'averageRent': 2187.29,
     'minRent': 834,
     'maxRent': 3500,
     'totalRentals': 63},
    {'bedrooms': 4,
     'averageRent': 2758.26,
     'minRent': 1760,
     'maxRent': 5500,
     'totalRentals': 46},
    {'bedrooms': 5,
     'averageRent': 3531.89,
     'minRent': 2250,
     'maxRent': 5500,
     'totalRentals': 9},
    {'bedrooms': 6,
     'averageRent': 2950,
     'minRent': 2950,
     'maxRent': 2950,
     'totalRentals': 1},
    {'bedrooms': 7,
     'averageRent': 3750,
     'minRent': 3750,
     'maxRent': 3750,
     'totalRentals': 1}]},
  '2021-10': {'averageRent': 3113.58,
   'minRent': 870,
   'maxRent': 349500,
   'totalRentals': 284,
   'detailed': [{'bedrooms': 0,
     'averageRent': 2752.83,
     'minRent': 870,
     'maxRent': 9550,
     'totalRentals': 23},
    {'bedrooms': 1,
     'averageRent': 1202.81,
     'minRent': 900,
     'maxRent': 2000,
     'totalRentals': 54},
    {'bedrooms': 2,
     'averageRent': 1488.44,
     'minRent': 930,
     'maxRent': 2000,
     'totalRentals': 59},
    {'bedrooms': 3,
     'averageRent': 6816.51,
     'minRent': 1000,
     'maxRent': 349500,
     'totalRentals': 76},
    {'bedrooms': 4,
     'averageRent': 2780.32,
     'minRent': 1760,
     'maxRent': 5500,
     'totalRentals': 60},
    {'bedrooms': 5,
     'averageRent': 3267.7,
     'minRent': 2250,
     'maxRent': 5500,
     'totalRentals': 10},
    {'bedrooms': 6,
     'averageRent': 2850,
     'minRent': 2850,
     'maxRent': 2850,
     'totalRentals': 1},
    {'bedrooms': 7,
     'averageRent': 3750,
     'minRent': 3750,
     'maxRent': 3750,
     'totalRentals': 1}]},
  '2021-09': {'averageRent': 3068.84,
   'minRent': 870,
   'maxRent': 349500,
   'totalRentals': 296,
   'detailed': [{'bedrooms': 0,
     'averageRent': 2753.78,
     'minRent': 870,
     'maxRent': 9550,
     'totalRentals': 23},
    {'bedrooms': 1,
     'averageRent': 1199.62,
     'minRent': 900,
     'maxRent': 2000,
     'totalRentals': 55},
    {'bedrooms': 2,
     'averageRent': 1487.97,
     'minRent': 930,
     'maxRent': 2000,
     'totalRentals': 60},
    {'bedrooms': 3,
     'averageRent': 6427.05,
     'minRent': 1000,
     'maxRent': 349500,
     'totalRentals': 83},
    {'bedrooms': 4,
     'averageRent': 2814.59,
     'minRent': 1760,
     'maxRent': 5500,
     'totalRentals': 63},
    {'bedrooms': 5,
     'averageRent': 3267.7,
     'minRent': 2250,
     'maxRent': 5500,
     'totalRentals': 10},
    {'bedrooms': 6,
     'averageRent': 2850,
     'minRent': 2850,
     'maxRent': 2850,
     'totalRentals': 1},
    {'bedrooms': 7,
     'averageRent': 3750,
     'minRent': 3750,
     'maxRent': 3750,
     'totalRentals': 1}]},
  '2021-08': {'averageRent': 3060.18,
   'minRent': 870,
   'maxRent': 349500,
   'totalRentals': 306,
   'detailed': [{'bedrooms': 0,
     'averageRent': 2742.48,
     'minRent': 870,
     'maxRent': 9550,
     'totalRentals': 23},
    {'bedrooms': 1,
     'averageRent': 1199.62,
     'minRent': 900,
     'maxRent': 2000,
     'totalRentals': 55},
    {'bedrooms': 2,
     'averageRent': 1489.8,
     'minRent': 930,
     'maxRent': 2000,
     'totalRentals': 61},
    {'bedrooms': 3,
     'averageRent': 6222.47,
     'minRent': 1000,
     'maxRent': 349500,
     'totalRentals': 87},
    {'bedrooms': 4,
     'averageRent': 2795.67,
     'minRent': 1760,
     'maxRent': 5500,
     'totalRentals': 66},
    {'bedrooms': 5,
     'averageRent': 3331.42,
     'minRent': 2250,
     'maxRent': 5500,
     'totalRentals': 12},
    {'bedrooms': 6,
     'averageRent': 2950,
     'minRent': 2950,
     'maxRent': 2950,
     'totalRentals': 1},
    {'bedrooms': 7,
     'averageRent': 3750,
     'minRent': 3750,
     'maxRent': 3750,
     'totalRentals': 1}]},
  '2021-07': {'averageRent': 3024.32,
   'minRent': 870,
   'maxRent': 349500,
   'totalRentals': 315,
   'detailed': [{'bedrooms': 0,
     'averageRent': 2742.48,
     'minRent': 870,
     'maxRent': 9550,
     'totalRentals': 23},
    {'bedrooms': 1,
     'averageRent': 1194.16,
     'minRent': 894,
     'maxRent': 2000,
     'totalRentals': 56},

In [65]:
# The detailed section pulled out
pd.DataFrame(dum.loc['detailed', 'rentalData'])

   bedrooms  averageRent  minRent  maxRent  totalRentals
0         1         1366      956     1920            13
1         2         1391     1135     1550             3
2         3         2475     1707     4750            62
3         4         2998     2000     6000            83
4         5         3470     2850     5000            17
5         6         6875     5000     8750             2

In [70]:
history = pd.DataFrame(dum.loc['history', 'rentalData']).T

In [79]:
history.loc[:,'detailed']

2020-04    [{'bedrooms': 0, 'averageRent': 937.28, 'minRe...
2020-05    [{'bedrooms': 0, 'averageRent': 973.12, 'minRe...
2020-06    [{'bedrooms': 0, 'averageRent': 980.08, 'minRe...
2020-07    [{'bedrooms': 0, 'averageRent': 982.12, 'minRe...
2020-08    [{'bedrooms': 0, 'averageRent': 987.68, 'minRe...
2020-09    [{'bedrooms': 0, 'averageRent': 1004.74, 'minR...
2020-10    [{'bedrooms': 0, 'averageRent': 1004.3, 'minRe...
2020-11    [{'bedrooms': 0, 'averageRent': 1007.75, 'minR...
2020-12    [{'bedrooms': 0, 'averageRent': 996.48, 'minRe...
2021-01    [{'bedrooms': 0, 'averageRent': 996.48, 'minRe...
2021-02    [{'bedrooms': 0, 'averageRent': 1002.32, 'minR...
2021-03    [{'bedrooms': 0, 'averageRent': 1002.32, 'minR...
2021-04    [{'bedrooms': 0, 'averageRent': 1002.32, 'minR...
2021-05    [{'bedrooms': 0, 'averageRent': 1012.84, 'minR...
2021-06    [{'bedrooms': 0, 'averageRent': 1012.84, 'minR...
2021-11    [{'bedrooms': 0, 'averageRent': 2113.16, 'minR...
2021-12    [{'bedrooms': 0, 'averageRent': 2519.3, 'minRe...
2021-10    [{'bedrooms': 0, 'averageRent': 2752.83, 'minR...
2021-09    [{'bedrooms': 0, 'averageRent': 2753.78, 'minR...
2021-08    [{'bedrooms': 0, 'averageRent': 2742.48, 'minR...
2021-07    [{'bedrooms': 0, 'averageRent': 2742.48, 'minR...
2022-01    [{'bedrooms': 0, 'averageRent': 1666.94, 'minR...
2022-02    [{'bedrooms': 0, 'averageRent': 1647, 'minRent...
2022-03    [{'bedrooms': 0, 'averageRent': 1637.61, 'minR...
2022-04    [{'bedrooms': 0, 'averageRent': 2190.8, 'minRe...
2022-05    [{'bedrooms': 0, 'averageRent': 2238.3, 'minRe...
2022-06    [{'bedrooms': 0, 'averageRent': 2173.8, 'minRe...
2022-07    [{'bedrooms': 0, 'averageRent': 2232.67, 'minR...
2022-08    [{'bedrooms': 0, 'averageRent': 1969.3, 'minRe...
2022-09    [{'bedrooms': 0, 'averageRent': 1969.3, 'minRe...
2022-10    [{'bedrooms': 0, 'averageRent': 1969.3, 'minRe...
2022-11    [{'bedrooms': 0, 'averageRent': 1253.59, 'minR...
2022-12    [{'bedrooms': 0, 'averageRent': 1253.59, 'minR...
2023-01    [{'bedrooms': 0, 'averageRent': 1254, 'minRent...
2023-02    [{'bedrooms': 0, 'averageRent': 1254, 'minRent...
2023-03    [{'bedrooms': 1, 'averageRent': 1649, 'minRent...
2023-04    [{'bedrooms': 1, 'averageRent': 1373, 'minRent...
2023-05    [{'bedrooms': 1, 'averageRent': 1366, 'minRent...
Name: detailed, dtype: object

SyntaxError: invalid syntax (1200186067.py, line 1)

Completed Query

In [ ]:
# basic requirements
entity_id = 'METRO41700M41700'
headers = {'Authorization': f'Bearer {hud_token}'}

# accessing api
url = f'https://www.huduser.gov/hudapi/public/fmr/data/{entity_id}'
response = requests.get(url, headers=header)
data = response.json()

# getting initial df
df = pd.DataFrame()

# establishing years to pull
years = ['2023', '2022', '2021', '2020', '2019', '2018']

# For loop to access data from each year and concat onto the initial df
for year in years:
    url = f'https://www.huduser.gov/hudapi/public/fmr/data/{entity_id}?year={year}'
    response = requests.get(url, headers=header)
    data = response.json()
    dum = pd.DataFrame(data['data']['basicdata'])
    dum['year'] = data['data']['year']
    df = pd.concat([df, dum])
    
df

https://rapidapi.com/realtymole/api/realty-mole-property-api